/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body {
  width: 100%;
  height: 100vh;
  background-color: #355B3E;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginpage {
  width: 1296px;
  height: 714px;
  display: flex;
  flex-direction: row;
  
}

.page1 {
  width: 550px;
  height: 714px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 24px 0 0 24px;

}

.page2 {
  width: 422px;

  display: flex;
  flex-direction: column;
  gap: 56px;
}

.Illustration {
  width: 746px;
  height: 714px;
  background-color: #F5DBC4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 24px 24px 0;
}

.Illustration > img {
  width: 500px;
  height: 337.44px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Travalizer {
  align-self: flex-start;
  color: #355B3E;
  display: flex;
  align-items: center;

  gap: 16px;
}

.Travalizer > img {
  width: 48px;
  height: 48px;
}

.Travalizer > span {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 32px;
}

.Artificial {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #355B3E;
}

.Welcome {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #58745E;
}

.login {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input input {
  width: 406px;
  height: 56px;
  padding-left: 16px;
  border-radius: 8px;
  border: solid 1px #B8D6BF;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.password {
  background-image: url(eyeoff.png);
  background-repeat: no-repeat;
  background-position: right;
}

.forgot {
  align-self: flex-end;
}

.button {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.button input {
  width: 199px;
  height: 48px;
  border: solid 1px #029664;;
  border-radius: 8px;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.loginbutton {
  background-color: #029664;
  color: white;
}

.signupbutton{
  background-color: white;
  color: #029664
}

.input > p:first-child {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #2F3D4C;
}

.checkbox {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #355B3E;

  display: flex;
  justify-content: space-between;
}

.forgot a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #355B3E;
}

.or {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #355B3E;
  text-decoration: none;
}

.loginwith {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.facebook {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.facebook a {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #355B3E;
  text-decoration: none;
}


